body{
  background-color:turquoise;
}

svg{
  border-style: solid;
  border-width: 1px;
}
.first{
  margin-bottom: 30px;
}
.second{
  stroke: purple;
  stroke-width: 10px;
  fill: purple;
}
.space{
  margin-bottom: 40px;
  text-decoration-color: blue;
}
.us {
  stroke:red;
}

.us:hover {
  stroke: pink;
  fill: pink;
}

.canada {
  stroke:blue;
}

.canada:hover {
  stroke: pink;
  fill: pink;
}

.mexico {
  stroke:orange;
}

.mexico:hover {
  stroke: pink;
  fill: pink;
}

.average {
  stroke:purple;
}

.average:hover {
  stroke: pink;
  fill: pink;
}